.btn{
  background-color: #8E3D1A;
}
.followed{
  background-color: #AC6F55;
}
.btn {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0,.18)
}
.btn:active, .btn:focus, .btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0,.18)
}